.site-content {


  // NOTE: max-width for the whole contain
  article {


    @include commonWidth();

    .post-thumbnail {
      text-align: center;
      width: 100%;
      margin: auto;
    }

    .entry-content {
      width: 80vw;

    }

    a {
      @include border-btn();
    }

    figure {
      img {
        width: 100%;
        margin-bottom: 1em;
      }
    }

  }

  @media screen and (min-width: 700px) {
    article {
      padding-top: 5vh;
      padding-bottom: 5vh;
      min-height: 50vh;
    }
  }

  @media screen and (min-width: 1300px) {
    article {
      min-height: 100vh;
      max-width: 1500px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:nth-of-type(2) {
        flex-direction: row-reverse;
        .post-thumbnail {
          text-align: right;
        }
      }
      .post-thumbnail {
        width: 100%;
      }
      figcaption {
        margin: auto;
        width: 90%;
      }
    }
  }

}

#section1 {
  a {
    text-align: center;
    display: block;
  }

  .post-thumbnail {
    transform: translatey(0px);
  	animation: float-object 3s ease-in-out infinite;
    animation-timing-function: linear;

    img {
    	animation: rotate-object 15s ease-in-out infinite;
      animation-timing-function: linear;
    }
  }

  @media screen and (min-width: 1000px) {

    a {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

#section2 {
  .post-thumbnail {
    transform: translatey(0px);
  	animation: float-object 3s ease-in-out infinite;
    animation-timing-function: linear;
  }
}

#section3 , #section4 {
  h1 , h2 {
    text-align: center;
  }
  @media screen and (min-width: 1000px) {
    #gallery-1 , #gallery-2{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 1.25em;

      img {
        max-height: 70vh;
        width: auto;
      }
    }
  }
}

.seperator{
  width: 100%;
  height: 10px;
  @include divider-skew-left();

  &:nth-of-type(2) {
    @include divider-skew-right();
  }
}
