button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	font-family: $font__title_nav;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

button {
  @include border-btn();

  text-transform: uppercase;
	letter-spacing: 2px;

}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	@include highlight-btn();
	background-color: $color__main-blue;
	border: 1px solid $color__main-blue;
	padding: 1em 2em;
	text-transform: uppercase;
	color: white;
	font-family: $font__main;

	&:hover {
		color: $color__main-blue;
		border-radius: 5px;
		border: 1px solid $color__main-blue;
	}
}
