
template-parts/content_footer.php
template-parts/content-excerpt.php
sass/site/primary/_single-layout.scss
sass/site/primary/_front-layout.scss
sass/site/primary/_community-layout.scss
sass/layout/_global.scss
home.php
