.page-template-page-about {
  .site-main {
    max-width: 1500px;
    margin: auto;
    padding-bottom: 4em;

    .page-title {
      text-align: center;
    }
  }
  article {
    .content-wrap {
      text-align: center;
      h1 , p{
        margin: 0;
      }
    }
    img {
      object-fit: cover;
    }
    .entry-content {
      a {
        position: relative;
        visibility: hidden;
        &:before {
          visibility: visible;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }


  @media screen and (min-width: $size__medium-screen) {
    .site-main {
      @include commonWidth();
      max-width: 1500px;

      .page-title {
        width: 100%;
      }

      article {
        float: left;
        min-height: auto;
        padding: 0;
        margin: 0;

        position: relative;

        p {
          color: white;
        }
      }

      @supports (display: grid) {
        display: grid;
        grid-gap: 1.25em;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        align-items: start;
        justify-content: center;

        .page-title {
          grid-column: 1 / -1;
        }
      }
    }
  }

  @media screen and (min-width: $size__large-screen) {
    .site-main {
      display: grid;
      grid-template-columns: repeat(3,minmax(90px,250px));

      article {
        display: grid;
        grid-template-columns: 1fr;

        .entry-content {
          transform: translate(-50%,-50%);
          transform: translateY(50%);
          opacity: 0;
          transition: all 1s;
          position: absolute;
          top: 40%;
          left: 0%;
        }

        .post-thumbnail {
          margin: 0;
          opacity: 1;
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }

        &:hover {
          .entry-content {
            transform: translateY(0%);
            opacity: 1;
            transition: all 1s;
          }
          .post-thumbnail {
            opacity: 0;
          }
        }

        &:nth-of-type(1){
          background-color: $color__main-blue;
        }
        &:nth-of-type(2){
          background-color: $color__main-red;
        }
        &:nth-of-type(3){
          background-color: $color__main-green;
        }
        &:nth-of-type(4){
          background-color: $color__main-orange;
          .entry-content {
            top: 30%;
          }
        }
        &:nth-of-type(5){
          background-color: $color__main-purple;
          .entry-content {
            top: 30%;
          }
        }
        &:nth-of-type(6){
          background-color: white;
          p , h1{
            color: $color__main-purple;
          }
        }

      }
    }
  }
}

// Banner animation only for medium and large screen
.banner-animation {
  text-align: center;
  padding: 0 5em 0 5em;
}
@media screen and (min-width:$size__medium-screen) {
  .banner-animation {
    max-width: 1500px;
    margin-top: 4em;
    padding: 0 5em 0em 5em;
    grid-column: 1 / -1;
    display: grid;
    justify-content: center;

    .first-line-animation {
      align-self: end;
    }
    .second-line-animation {
      align-self: start;
    }
  }
  .first-line-animation ,
  .second-line-animation {
    text-align: center;
  	text-transform: uppercase;
    font-family: $font__title_nav;

    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }


  .second-line-animation {
    width:0px;
    animation: reveal 7s infinite;
  }

  .second-line-animation h1 {
    font-family: $font__title_nav;

    margin-left:-355px;
    animation: slidein 7s infinite;
  }

  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }

  @keyframes slidein {
      0% { margin-left:-100vw; }
      35% { margin-left:0px; }
      70% { margin-left:0px; }
      100% { margin-left:-100vw;; }
  }

  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:100vw;}
      80% {opacity:1;}
      100% {opacity:0;width:30vw;margin: auto}
  }
}
