.page-template-page-about {
  article {

    &:nth-of-type(1) .entry-content {
      background: $color__gradient-1;
    }
    &:nth-of-type(2) .entry-content {
      background: $color__gradient-2
    }
    &:nth-of-type(3) .entry-content {
      background: $color__gradient-3;
    }
    &:nth-of-type(4) .entry-content {
      background: $color__gradient-4;
    }
    &:nth-of-type(5) .entry-content {
      background: $color__gradient-5;
    }
    &:nth-of-type(6) .entry-content {
      background: $color__gradient-6;
    }

    .entry-content {
      
    }

  }
}
