.site-content {


  article {
    // NOTE: max-width for the whole contain
    @include commonWidth();

    .post-thumbnail {
      text-align: center;
      width: 100%;
      margin: auto;
    }

    a {
      @include border-btn();
    }

    figure {
      img {
        width: 100%;
        margin-bottom: 1em;
      }
    }

  }

  @media screen and (min-width: $size__medium-screen) {
    article {
      padding-top: 5vh;
      padding-bottom: 5vh;
      min-height: 50vh;
      margin: auto;
    }
    .entry-content {
      width: 100%;
    }
  }

  @media screen and (min-width: $size__large-screen) {
    article {
      min-height: 100vh;
      max-width: 1500px;

      .entry-content {
        margin: auto;
      }

      .post-thumbnail {
        width: 100%;
      }
      figcaption {
        margin: auto;
        width: 90%;
      }

      @supports (display: flex) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-of-type(2) {
          flex-direction: row-reverse;
          .post-thumbnail {
            text-align: right;
          }
        }
      }
    }
  }

}

#section1 {
  a {
    text-align: center;
    display: block;
  }

  .post-thumbnail {
    transform: translatey(0px);
  	animation: float-object 3s ease-in-out infinite;
    animation-timing-function: linear;

    img {
    	animation: rotate-object 15s ease-in-out infinite;
      animation-timing-function: linear;
    }
  }

  @media screen and (min-width: $size__large-screen) {

    a {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

#section2 {
  .post-thumbnail {
    img {
      max-width: 70%;
      height: auto;
      border-radius: 50%;
      animation: pulse-object 2s infinite;
    }

    // transform: translatey(0px);
  	// animation: float-object 3s ease-in-out infinite;
    // animation-timing-function: linear;
  }
}

#section3 , #section4 {
  h1 , h2 {
    text-align: center;
  }

  @media screen and (min-width: $size__large-screen) {
    #gallery-1 , #gallery-2{

      figure {
        float: left;
        width: 33.33%;
      }

      img {
        max-height: 70vh;
        width: auto;
      }

      &:after {
        content: '';
        clear: both;
      }

      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1.25em;

        figure {
          float: none;
          width: 100%;
        }

      }
    }
  }
}

.seperator{
  width: 100%;
  height: 10px;
  @include divider-skew-left();

  &:nth-of-type(2) {
    @include divider-skew-right();
  }
}
