h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__title_nav;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

.title-header-big {
	color: $color__text-title-big;
	text-transform: uppercase;
}

.title-header-small {
	color: $color__text-title-small;
	text-transform: uppercase;

}

.radius-btn {font-size: 1.2em;}
