// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}




@mixin divider-skew-left() {
	border-bottom: 1px solid $color__background-body;

<<<<<<< HEAD
  -moz-box-shadow:-5px 14px 12px black;
  -webkit-box-shadow:-5px 14px 12px black;
  box-shadow:-5px 14px 12px black;
=======
  -moz-box-shadow:0px 14px 15px black;
  -webkit-box-shadow:0px 14px 15px black;
  box-shadow:0px 14px 15px black;
>>>>>>> thanya


  -ms-transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  transform: skewY(4deg);

  z-index: 99;
}

@mixin divider-skew-right() {
<<<<<<< HEAD
	border-bottom: 1px solid $color__background-body;

  -moz-box-shadow:-5px 14px 12px black;
  -webkit-box-shadow:-5px 14px 12px black;
  box-shadow:-5px 14px 12px black;
=======
  -moz-box-shadow:0px 14px 15px black;
  -webkit-box-shadow:0px 14px 15px black;
  box-shadow:0px 14px 15px black;
>>>>>>> thanya


  -ms-transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);

  z-index: 99;
}


// Styling all radius buttons
@mixin border-btn() {
  color: $color__border-button;
  border-radius: 5px;
  background: none;
  padding: .7em 1.5em;
	margin: 2em 0 2em 0;
  transition: all .5s;
  text-transform: uppercase;
  border: 1px solid $color__border-button;
  &:hover {
    border-color: rgba(255,255,255,0);
    background: rgba(255,255,255,.3);
    transition: all .5s;
  }
}

// Styling highlight red buttons
@mixin highlight-btn() {
  background-color: $color__highlight-button;
	border: 1px solid $color__highlight-button;
  transition: all .5s;
  border-radius: 5px;
  padding: .2em 1.5em;
	font-weight: bold;

  &:hover {
		color: $color__highlight-button;
    background: none;
    transition: all .5s;

		a {
			color: $color__highlight-button;
		}
  }
}

// Width and center content for section and FOOTER
@mixin commonWidth() {
  margin: 3em auto;
  padding: 0 5em 0 5em;
}

<<<<<<< HEAD
// NOTE: animation
// Floating animation
@keyframes floatobject {
=======
// 3-column layout
@mixin three-column-layout() {
  // width: 100%;
  // display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
	align-items: none;
	grid-gap: 0;
}

// 2-column layout
@mixin two-column-layout(){
  // width: 100%;
  // display: grid;
  grid-template-columns: repeat(2,1fr);
  // justify-content: center;
  align-items: center;
  // justify-items: space-between;
	grid-gap: 0;

}

// 1-column layout
@mixin one-column-layout(){
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  // align-items: center;
	// grid-gap: 1.25em;
}

// NOTE: animation
// Floating animation
@-webkit-keyframes float-object {
>>>>>>> thanya
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

// Rotate animation
<<<<<<< HEAD
@keyframes rotateobject {
=======
@-webkit-keyframes rotate-object {
>>>>>>> thanya
		0%{
				transform: rotate(0deg);
		}
		50% {
				transform: rotate(10deg);
		}
    100%{
				transform: rotate(0deg);
		}
}

@keyframes rotateobjectinfinite {
		0%{
				transform: rotate(0deg);
		}
    100%{
				transform: rotate(-360deg);
		}
    100%{
				transform: rotate(0deg);
		}
}

// Pulse animation
@keyframes pulseobject {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(49,26,84, 0.4);
    box-shadow: 0 0 0 0 rgba(49,26,84, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 100px rgba(49,26,84, 0);
      box-shadow: 0 0 0 100px rgba(49,26,84, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(49,26,84, 0);
      box-shadow: 0 0 0 0 rgba(49,26,84, 0);
	}
}
