<<<<<<< HEAD
$color__background-body: linear-gradient(to bottom right, #140a21, #000000);
=======
$color__background-body: linear-gradient(to bottom right, #411d70, #000000);
>>>>>>> jeannguyen
$color__background-sticky-nav: rgba(20,10,33,0.9);

$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
// Additional colors
$color__text-title-small: #ca99ff;
$color__text-title-big: white;
$color__text-body: #ca99ff;
$color__logo-tagline: white;
$color__footer-divider: #411d70;

$color__highlight-button: #f74354;

$color__link-menu: white;
$color__link: #27e2b6;
$color__link-visited: #14b5f4;
$color__link-hover: #14b5f4;
$color__text-select: #000000;

$color__border-button: white;
$color__bg-button-hover: rgba(255,255,255,.3);

$color__button-social: white;

$color__gradient-1: linear-gradient(to bottom right, #801357, #03001e);
$color__gradient-2: linear-gradient(to bottom right, #03001e, #0896a1);
$color__gradient-3: linear-gradient(to bottom right, #0896a1, #d9ab7e);
$color__gradient-4: linear-gradient(to bottom right, #d9ab7e, #843e4b);
$color__gradient-5: linear-gradient(to bottom right, #843e4b, #03001e);
$color__gradient-6: linear-gradient(to bottom right, #03001e, #801357);

$color__main-red: #f74354;
$color__main-blue: #14b5f4;
$color__main-green: #27e2b6;
$color__main-orange: #f79463;
$color__main-purple: #411d70;
$color__main-purple-dark: #140a21;
