$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__left-content: 50%;
$size__right-content: 50%;

$size__block-first: 33.33%;
$size__block-second: 33.33%;
$size__block-third: 33.33%;

$size__medium-screen: 600px;
$size__large-screen: 1300px;
