a {
	color: $color__link;
	text-decoration: none;
	transition: all 1s;

	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		transition: all 1s;
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
		transition: all 1s;
	}
	&:hover,
	&:active {
		outline: 0;
		transition: all 1s;
	}
}
a.button
{
	@include highlight-btn();
	background-color: $color__main-blue;
	border: 1px solid $color__main-blue;
	padding: 1em 2em;
	text-transform: uppercase;
	color: white;
	font-family: $font__main;

	&:hover {
		color: $color__main-blue;
		border-radius: 5px;
		border: 1px solid $color__main-blue;
	}
}
