// NOTE: HEADER Navigation styling

.site-header {
  margin: 1.25em auto;
  padding: 2em 2em 1em 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // background: $color__background-sticky-nav;

  // NOTE: fixed navigation
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .5;
  -webkit-transition: all .5s;


  .main-navigation {

    text-transform: uppercase;

    li {
      display: inline-block;
      padding: 0.5em;
      margin-left: 1.5em;

    }

    a {
      line-height: 3em;
      color: $color__link-menu;
      &:hover {
        color: $color__link-hover;
        transition: all 1s;
      }
    }
  }

  .site-branding {
    font-weight: bold;
    text-transform: uppercase;
    color: $color__logo-tagline;
    // flex-grow: 1;


    display: flex;
    align-items: center;
    justify-content: center;
    .custom-logo-link {
      display: none;
    }

    .site-title {
      margin-left: 1em;
    }
  }

  .main-navigation {
    // flex-grow: 1;
  }

  @media screen and (min-width: $size__medium-screen) {

    position: fixed;

    .site-branding {
      .custom-logo-link {
        display: inline-block;
      }
    }
  }

}


.scrolled {
  background: $color__background-sticky-nav;
  transition: all .5;
  -webkit-transition: all .5s;
}

#primary-menu li:last-of-type{
  @include highlight-btn();
}

@media screen and (min-width: $size__medium-screen){
  .site-header {
    flex-wrap: nowrap;

    margin: 0;

    .site-branding {
      flex-grow: 0;
    }
    .main-navigation {
      flex-grow: 0;
    }
  }

}


// NOTE: FOOTER Navigation Styling
.site-footer {
  color: $color__link-menu;
  @include commonWidth();



  #footer {

    width: 100%;
    border-bottom: 1px solid $color__text-body;
    padding-bottom: 2em;

    .post-thumbnail {
      display: none;
    }
  }

  .site-info {
    text-align: center;
    margin-bottom: 1em;
  }

  #social-menu{
    li {
      display: inline-block;
      font-size: 1.2em;
      margin: 0 1em 0 1em;

      a {
        color: $color__button-social;
        transition: all 1s;

        &:hover {
          color: $color__link-hover;
          transition: all 1s;
        }
      }
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;

    #footer {
      grid-column: 1 / -1;
    }
    .site-info {
      grid-column: 1/-1;
    }
    #site-navigation {
      grid-column: 1/-1;
    }
  }

  @media screen and (min-width: $size__medium-screen) {

    #footer {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .post-thumbnail {
        display: block;
      }

      .entry-content {
        margin-left: 2em;
      }
    }
    .site-info {
      text-align: left;
      grid-column: 1;
      justify-self: start;
    }

    #site-navigation {
      grid-column: 2;
      justify-self: end;
    }

    #social-menu{
      li {
        margin: 0 0 0 1em;

        a {
          color: $color__button-social;
          transition: all 1s;

          &:hover {
            color: $color__link-hover;
            transition: all 1s;
          }
        }
      }
    }
  }

}
