// NOTE: HEADER Navigation styling
.site-header {
  width: 100%;
  height: 100px;
  margin: auto;
  position: sticky;
  // background-color: $color__background-sticky-nav;

  // NOTE: fixed navigation
  z-index: 999;
  top: 0;
  left: 0;

	&::after {
    content: "";
    clear: both;
    display: table;
	}

}
.wrapper-header {
  @include commonWidth();
  max-width: 1500px;
  margin: 0 auto 1.25em auto;
  padding-top: 1em;
  width: 100%;
  height: auto;

  transition: all .5;
  -webkit-transition: all .5s;

	.custom-logo-link, .site-title{
		float: left;
	}


  .main-navigation {
		float: right;
    text-transform: uppercase;

    li {
			display: inline-block;
			padding: 0 1em;
    }

		.current-menu-item a{
			color: $color__text-body;
		}

    a {
      line-height: 3em;
      color: $color__link-menu;
      &:hover {
        color: $color__link-hover;
        transition: all 1s;
      }
    }
  }

  .site-branding {
    font-weight: bold;
    text-transform: uppercase;
    color: $color__logo-tagline;

    .site-title {
      margin-left: 1em;
    }


  }

	@supports (display: flex){
		.custom-logo-link, .site-title, .main-navigation{
			float: none;
		}


		&, .site-branding{
			display: flex;
		}

		&{
			// flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}

		.site-branding{
			align-items: center;
		}

		.main-navigation{
			justify-self: flex-end;
		}
	}


}


.scrolled {
  background-color: $color__background-sticky-nav;
  transition: all .5;
  -webkit-transition: all .5s;

}

#primary-menu li:last-of-type{
  @include highlight-btn();
}


/* Small menu. */
.menu-toggle,
{
	display: block;
}

.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
	height: calc(100vh + 100px);
	opacity: 1;
	transition: all 2s;

}
.main-navigation {
  ul{
		opacity: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		text-align: right;
		width: 100%;
		height: 0;

		position: absolute;
		top: -100px;
		right: 0;

		transition: all 2s;

  }

	ul{
		background: $color__background-sticky-nav;
		transition: all .5;
		-webkit-transition: all .5s;
		z-index: -1;
	}


}

.menu-toggle{
	align-self: flex-end;
	z-index: 999;
}

// subMenu
.subMenu{
	position: fixed !important;
	top: 40% !important;
	left: 2em !important;

	& a{
		margin: 20px 0;
		display: flex;
		align-items: center;
	}

	& a:before{
		content: '';
		display: block;
		width: 15px;
		height: 15px;

		margin: 6px;

		border-radius: 50%;

		border: 2px solid white;
	}
	//
	// & a:last-of-type:before{
	// 	display: none;
	// }

	& a span{
		display: none;
		color: white;
		margin-left: 10px;
		line-height: 1em;

		background: rgba(255,255,255, 0.5);
		padding: 5px 20px;
		border-radius: 5px;
	}

	& .active:before{
		background: white;
	}

	& a:hover span{
		display: block;
	}
}

@media screen and (min-width: 750px) {
	.wrapper-header {
		flex-direction: row;
	}

	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		width: auto;
		height: auto;

		position: static;
		opacity: 1;
		background: none;
	}

}




// NOTE: FOOTER Navigation Styling
.site-footer {
  background: $color__main-purple-dark;

  color: $color__link-menu;
  width: 100vw;
  margin: auto;

  .wrapper-footer {
    margin: auto;
    padding: 2em 5em 2em 5em;
    max-width: 1500px;
    border-top: 1px solid $color__main-purple;
  }


  .site-info {
    text-align: center;

    p {
      color: $color__link-menu;
      margin: 0;
      padding: 0;
    }
  }

  .footer-navigation{
    li {
      text-align: center;
      display: block;
      font-size: 1.2em;
      margin-bottom: 1em;

      a {
        @include font-size(1);
        color: $color__button-social;
        transition: all 1s;

        &:hover {
          color: $color__link-hover;
          transition: all 1s;
        }
      }
    }
  }

  .wrapper-footer {
    @media screen and (min-width: $size__medium-screen) {
      // @include commonWidth();
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-navigation{

        li {
          display: inline-block;
          margin-right: 1em;
          margin-bottom: 0em;
        }
      }
    }

    @media screen and (min-width: $size__large-screen) {
      max-width: 1500px;
    }
  }

}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.main-navigation {
  ul{
    display: none;
  }
}

@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
