// NOTE: HEADER Navigation styling
.site-header {
  width: 100%;
  height: 100px;
  margin: auto;
  position: sticky;
  // background-color: $color__background-sticky-nav;

  // NOTE: fixed navigation
  z-index: 999;
  top: 0;
  left: 0;

	&::after {
    content: "";
    clear: both;
    display: table;
	}

}
.wrapper-header {
  @include commonWidth();
  max-width: 1500px;
  margin: 0 auto 1.25em auto;
  padding-top: 1em;
  width: 100%;
  height: auto;

  transition: all .5;
  -webkit-transition: all .5s;

	.custom-logo-link, .site-title{
		float: left;
	}


  .main-navigation {
		float: right;
    text-transform: uppercase;

    li {
			display: inline-block;
			padding: 0 0.5em;
    }

    a {
      line-height: 3em;
      color: $color__link-menu;
      &:hover {
        color: $color__link-hover;
        transition: all 1s;
      }
    }
  }

  .site-branding {
    font-weight: bold;
    text-transform: uppercase;
    color: $color__logo-tagline;

    .site-title {
      margin-left: 1em;
    }


  }

	@supports (display: flex){
		.custom-logo-link, .site-title, .main-navigation{
			float: none;
		}


		&, .site-branding{
			display: flex;
		}

		&{
			// flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}

		.site-branding{
			align-items: center;
		}

		.main-navigation{
			justify-self: flex-end;
		}
	}


}


.scrolled {
  background-color: $color__background-sticky-nav;
  transition: all .5;
  -webkit-transition: all .5s;

}

#primary-menu li:last-of-type{
  @include highlight-btn();
}


/* Small menu. */
.menu-toggle,
{
	display: block;
}

.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
	height: calc(100vh + 100px);
	opacity: 1;
	transition: all 2s;

}
.main-navigation {
  ul{
		opacity: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		text-align: right;
		width: 100%;
		height: 0;

		position: absolute;
		top: -100px;
		right: 0;

		transition: all 2s;

  }

	ul{
		background: $color__background-sticky-nav;
		transition: all .5;
		-webkit-transition: all .5s;
		z-index: -1;
	}


}

.menu-toggle{
	align-self: flex-end;
	z-index: 999;
}

@media screen and (min-width: 750px) {
	.wrapper-header {
		flex-direction: row;
	}

	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		width: auto;
		height: auto;

		position: static;
		opacity: 1;
		background: none;
	}

}




// NOTE: FOOTER Navigation Styling
.site-footer {
  color: $color__link-menu;
  @include commonWidth();



  #footer {

    width: 100%;
    border-bottom: 1px solid $color__text-body;
    padding-bottom: 2em;

    .post-thumbnail {
      display: none;
    }
  }

  .site-info {
    text-align: center;
    margin-bottom: 1em;
  }

  #social-menu{
    li {
      display: inline-block;
      font-size: 1.2em;
      margin: 0 1em 0 1em;

      a {
        color: $color__button-social;
        transition: all 1s;

        &:hover {
          color: $color__link-hover;
          transition: all 1s;
        }
      }
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;

    #footer {
      grid-column: 1 / -1;
    }
    .site-info {
      grid-column: 1/-1;
    }
    #site-navigation {
      grid-column: 1/-1;
    }
  }

  @media screen and (min-width: $size__medium-screen) {

    #footer {
      display: flex;
      align-items: center;
      justify-content: center;

      .post-thumbnail {
        display: block;
      }

      .entry-content {
        margin-left: 2em;
      }
    }
    .site-info {
      text-align: left;
      grid-column: 1;
      justify-self: start;
    }

    #site-navigation {
      grid-column: 2;
      justify-self: end;
    }

    #social-menu{
      li {
        margin: 0 0 0 1em;

        a {
          color: $color__button-social;
          transition: all 1s;

          &:hover {
            color: $color__link-hover;
            transition: all 1s;
          }
        }
      }
    }
  }

}
