/* single page*/
.single{
	background: white;

	.site-main {
		margin-top: -100px;
	}
	.post-thumbnail img{
		width: 100%;
		height: 400px;
		object-fit: cover;
	}
	article:not(.comment-body){
		display: block;
		border: 1px solid $color__background-hr;
		border-bottom: none;

		max-width: 1000px;
		min-height: auto;
		margin: -100px auto 0 auto;

		padding-bottom: 1em;

		border-left: 1px solid $color__background-hr;
		border-right: 1px solid $color__background-hr;

		position: relative;
		background: white;

	}

	.comment-body{
		display: block;
		min-height: auto;
		padding: 0;

	}
	article a{
		border: none;
		color: $color__link;
		padding: 0;
	}


	.seperator{
		display: none;
	}
	.site-main ol, .site-main ul {
		padding-left: 3em;
		margin: 2em 0;
		li {
			list-style-type: square;
			color: $color__text-main;

		}
	}

	.nav-links,.comments-area {
		border-left: 1px solid $color__background-hr;
		border-right: 1px solid $color__background-hr;

		max-width: 1000px;
		margin: 0 auto;

		& .entry-meta {
			margin-top: .5em;
			padding-right: 1em;
		}
	}

	.comments-area {
		border-bottom: 1px solid $color__background-hr;
		padding: 2em 5em 4em 5em;
		margin-top: -10px;
	}

	textarea{
		border: 1px solid $color__background-hr;
		color: $color__text-main;

	}

	.nav-links, {
		padding: 2em 5em 0 5em;
		margin-top: -10px;
	}


	h1{
		color: $color__main-purple-dark;
	}

	h3{
		margin-top: .25em;
		font-family: $font__main;
		font-weight: bold;
	}
}


	.single {


		& .entry-content{
			width: auto;

			& p{
				color: $color__text-main;

			}

			& blockquote{
				border-left: 2px solid white;
				margin-left: .75em;
				font-size: 1.35em;
				font-weight: bold;
				font-style: italic;
				margin-top: 3em;
				margin-bottom: 3em;

				& p {
					margin-left: .75em;
				}
			}
		}

		& a{
			border: none;
		}

		& a:hover{
			transition: none;
			background: none;
		}


		& .comments-area{

			& form p{
				margin: .75em 0;
				font-weight: bold;
				color: #e0c4ff;
			}

			& form label,input{
				display: block;
			}

			& form [type="checkbox"], label[for="wp-comment-cookies-consent"]{
				display: inline;
			}

			& form [type="checkbox"]{
				margin-right: .45em;
			}

			& form input[type="text"], input[type="email"], input[type="url"]{
				width: 100%;
			}

			& form input[type="submit"]{
				font-size: 1.15rem;
				padding: .75em 1em;
				margin-top: 1.5em;
				font-family: $font__main;
				font-weight: bold;
			}

		}
	}


	.single {
		& .cat-links, .tags-links{
			display: block;
			& a{
				color: $color__text-body;
			}
		}
	}

	.single .edit-link{
		display: none;
	}

	.single {

		& .nav-previous, .nav-next{
			display: inline-block;

		}

		& .nav-next{
			text-align: right;
			float: right;
		}

	}

	.single footer article{
		margin-top: 2em;
		margin-bottom: 2em;
	}
